GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
MONGODB_URL=your_mongodb_url
MONGODB_DATABASE=your_database_name
API_KEY=la_cle_api
JWT_SECRET_KEY=votre_cle_secrete_jwt